@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-1: #4e5150;
  --color-2: #a9a9a9;
  --color-3: #e5e5e5;
  --color-4: #bdbdbd;
  --color-5: #b9bdcf;
  --font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Layout */
main .avatar {
  margin-inline: auto;
  margin-block-end: 1rem;
}

main .user-name {
  margin-block-end: 0.25rem;
  text-align: center;
}

main .user-place {
  margin-block-end: 1rem;
}

main .user-data {
  margin-block-end: 1rem;
}

main .gallery {
  margin-block-end: 1rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-block: 2rem 1rem;
}

/* Components */
.avatar {
  width: 100px;
  border-radius: 1rem;
}

.box-data {
  display: inline-block;
  padding: 1rem;
  background-color: var(--color-3);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-data-value {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-1);
}

.box-data-name {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-4);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-item {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:nth-child(2) {
  grid-column: span 2;
}

.gallery-item:nth-child(3) {
  grid-column: span 2;
}

.gallery-item:nth-child(4) {
  grid-row: span 2;
}

.footer {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-5);
}

.footer-username-link {
  color: inherit;
  font-weight: 700;
}

.footer-oficial-page {
  text-decoration: none;
  color: inherit;
}

/* Specific Styles */
.user-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-1);
}

.user-place {
  font-size: 0.625rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-2);
}

.user-data {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.user-data > * {
  min-width: 100px;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .user-name {
    font-size: 1.5rem;
  }

  .user-place {
    font-size: 0.875rem;
  }

  .box-data-value {
    font-size: 1.125rem;
  }

  .box-data-name {
    font-size: 0.875rem;
  }
}
